{% extends 'account/layout.html' %}

{% block content %}
<style>
    .dark-theme .progress-steps-form .input-group .site-nice-select {
        background: transparent;
    }
</style>
         <div class="page-container">
            <div class="main-content">
               <div class="section-gap">
                  <div class="container-fluid">



                     <!--Page Content-->

                     <div class="row">
                        <div class="col-xl-12">


                           <div class="site-card">
                              <div class="site-card-header">
                                 <h3 class="title">Upload New Video</h3>
                                  <div class="card-header-links">
                                    <a href="{{ url_for('user_creator') }}" class="card-header-link">My Contents</a>
                                 </div>
                              </div>
                              <div class="site-card-body">
                                 <form method="POST" id="myForm" enctype="multipart/form-data">

                                     <div class="progress-steps-form">
                                        <div class="row">


                                        <div class="col-xl-6 col-md-12">
                                                <div class="single-field">
                                                    <label for="title" class="form-label">Number of videos to upload</label>
                                                    <div class="input-group">
                                                        <input id="count" type="number" class="form-control"  name="count" placeholder="Enter a number" value=""/>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-xl-6 col-md-12">
                                                <label for="category" class="form-label">Video Category</label>
                                                <div class="input-group">
                                                    <select id="category" name="category" class="site-nice-select">
                                                        <option value="">None</option>
                                                        <option value="music|song|rap battle|rap|top hits|hip hop music|indie music|classic rock">Music</option>
                                                        <option value="sports|athlete interviews|sports documentary|football highlights|best sport moments">Sports</option>
                                                        <option value="comedy|laugh challenge|funny sketches|funny cat videos|standup comedy|funny moments">Comedy</option>
                                                        <option value="gaming|game reviews|lets play|gaming challenges|gaming tutorials">Gaming</option>
                                                        <option value="lifestyle|daily vlogs|travel vlogs|diy projects|fitness routines|product reviews">Lifestyle</option>
                                                        <option value="science and tech|coding tutorials|tech reviews|gadgets unboxing|space exploration|innovations in tech">Science & Tech</option>
                                                        <option value="politics|world affairs|political satire|election coverage|political debates|government policies">Politics</option>
                                                        <option value="fashion|fashion haul|">Fashion</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                     <div class="col-xl-6 col-md-12 mt-3">
                                         <button type="submit" class="site-btn blue-btn" id="sbmt">Upload Content(s)</button>
                                     </div>

                                </form>
                              </div>
                           </div>




                        </div>
                     </div>

                     <!--Page Content-->

                  </div>
               </div>
            </div>
         </div>



    <div id="doneModal" class="auto-popup-section">
            <div class="auto-popup-dialog animated fadeInUp">
                <button class="auto-popup-close auto-popup-close-now" ><i icon-name="x"></i></button>
               <div class="auto-popup-dialog-inner" style="background: url({{ url_for('static', filename='images/auto-pop.jpg') }}) no-repeat;">
                  <div class="row">
                     <div class="col-md-12 col-12">
                         <div class="auto-pop-content">
                           <h2>Upload Success!</h2>
                             <div style="text-align: center">
                                    <img width="150em" src="{{ url_for('static', filename='images/video-review.png') }}" id="done-img">
                                </div>
                             <h3 class="mt-4 info">Out of <span class="doneCount">0</span> requested contents, <span class="doneSuccess">0</span> was uploaded successfully</h3>
                           <button class="site-btn grad-btn auto-popup-close-now"><i
                              class="anticon anticon-check"></i> Okay</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


{% endblock %}


{% block script %}

<script>

    function submit(){
        event.preventDefault()
           var formData = new FormData($('#myForm')[0]);
           loadOn()
           $.ajax({
               url: "{{ url_for('user_create3') }}",
               data: formData,
               type: "POST",
               processData: false,
               contentType: false,
               success: function (data){
                   loadOff()
                   if(data.status === "success"){
                       open_modal('doneModal')
                       $('.doneCount').text($('#count').val())
                       $('.doneSuccess').text(data.success_count)
                   }else{
                       notify(data.status, data.message)
                   }
               },
               error: function (){
                   loadOff()
                   notify('error', 'An error occurred')
               },
               headers: {
                   'X-CSRFToken': getCSRFToken()
               },
           })
    }

$(function(){

        {#open_modal('doneModal')#}

       $('#sbmt').click(function (){
           submit()
       })



        $(window).on('beforeunload', function(){
            loadOn();
        });

    })
</script>



{% endblock %}


