{% extends "admin/layout.html" %}

{% block title %}
    <title>Deposits - We Digital</title>
{% endblock %}

{% block search_block %}

    <div class="position-relative search-bar-box">
        <input id="order_search" type="text" class="form-control" placeholder="Type to search...">
        <span class="position-absolute top-50 search-show translate-middle-y">
            <button class="btn btn-primary search_btn">Search</button>
        </span>
    </div>

{% endblock %}

{% block content %}



<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

				<!--end row-->

				<div class="card radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<div>
								<h5 class="mb-0">Deposits History</h5>
							</div>

							<div class="font-22 ms-auto"><i class='bx bx-dots-horizontal-rounded'></i>
							</div>
						</div>
						<hr/>
						<div class="table-responsive">
							<table class="table align-middle mb-0" id="deposit-table">
								<thead class="table-light">
									<tr>
                                        <th>S/N</th>
                                        <th>User</th>
                                        <th>Amount</th>
                                        <th>Method</th>
                                        <th>Created</th>
                                        <th>Status</th>
									</tr>
								</thead>
								<tbody id="deposit_history" style="padding-bottom: 4em !important">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->





		<div id="DepositModal2" tabindex="-1" class="modal fade" aria-hidden="true" style="display: none;">
			        <div class="modal-dialog modal-lg">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <h5 class="mb-0 text-primary">Transaction Details</h5>
			                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
			                 </div>
			                 <div class="modal-body">


            			    <div class="card border-top border-0 border-4 border-primary">
                           <div class="card-body p-5">

                              <form class="row g-3">
                                  <div class="col-md-6">
                                     <label for="inputFirstName" class="form-label">Username</label>
                                     <input readonly class="form-control details_username" data-key="username" data-id="">
                                 </div>

                                  <div class="col-12">
                                     <label for="inputFirstName" class="form-label">Payment Method</label>
                                     <input readonly type="text" class="form-control details_method" data-key="method" data-id="">
                                 </div>


                                 <div class="col-md-6">
                                     <label for="inputFirstName" class="form-label">Amount</label>
                                     <input type="number" class="form-control details_amt edit" data-key="amt" data-id="">
                                 </div>



                                 <div class="col-md-6">
                                     <label for="inputLastName" class="form-label">Transaction Date</label>
                                     <input type='datetime-local' class='form-control details_time date' data-key="time" data-id="">
                                 </div>


                                </form>

                           </div>
                        </div>


			    </div>
			</div>
		</div>
	</div>




   <script>
	    $(function(){

            var overlay= $("#overlay");
        var loader= $("#loader");

        function loadOn(){
            overlay.css('display', 'block');
            loader.css('display', 'block');
        }
        function loadOff(){
            overlay.css('display', 'none');
            loader.css('display', 'none');
        }


            $.ajax({
                url: "{{ url_for('admin_get_deposit_history') }}",
                type: "POST",
                data: {'key': '*'},
                dataType: "",
                success: function (data){
                    $("#deposit_history").html(data);
                    var table = $('#deposit-table').DataTable( {
                        lengthChange: false,
                        buttons: [ 'copy', 'excel', 'pdf', 'print']
                    });
                    table.buttons().container().appendTo( '#example2_wrapper .col-md-6:eq(0)' );
                },
                error: function (jqXHR, errorThrown){
                    alert(JSON.stringify(jqXHR)+', Err: -'+errorThrown)
                },
               headers: {
                   'X-CSRFToken': getCSRFToken()
               }
            })




	        $("#order_search").keyup(function(){
	            var key= $(this).val().toLowerCase();
	            if(key !== ""){
	                $('.deposit_trs').each(function (){
                        const name = $(this).data('username').toLowerCase()
                        const method = $(this).data('method').toLowerCase()
                        const status = $(this).data('status').toLowerCase()
                        if(name.startsWith(key) || method.startsWith(key) || status.startsWith(key)){
                            $(this).show();
                         }else{
                            $(this).hide();
                         }
                    })
	            }else{
                    $('.deposit_trs').show()
                }
	        })




            $('body').on('mouseover', '.deposit_trs', function(){
	            $(this).css({'background':'#E2EDFF', 'color':'#267DFD', 'cursor':'pointer'})
	        })
	        $('body').on('mouseout', '.deposit_trs', function(){
	            $(this).css({'background':'white', 'color':'black', 'cursor':'pointer'})
	        })


	    })
	</script>

{% endblock %}