{% extends 'account/layout.html' %}

{% block content %}
<style>
    .password {
      position: relative;
    }

    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    #eye-icon {
      color: #888;
    }
</style>


         <div class="page-container">
            <div class="main-content">
               <div class="section-gap">
                  <div class="container-fluid">



                     <!--Page Content-->

                     <div class="row">
                        <div class="col-xl-12">


                        <div class="site-card">
                              <div class="site-card-header special-bg">
                                  <h3 class="title">Earn Extra <span style="font-size: 2.2em">{{ video_creator_bonus }}%</span> ?</h3>
                                  <div class="card-header-links">
                                    <a href="{{ url_for('user_creator') }}" class="card-header-link blue-btn" style="background: #003049 !important;">Start</a>
                                 </div>
                              </div>
                              <div class="site-card-body special-bg">
                                  <p>Create and upload your own videos on our platform to start earning <span class="special-tex">{{ video_creator_bonus }}%</span> of your viewers' earnings each time your video is watched!</p>

                                  <p>Your content not only boosts your income but also helps us build a thriving video community.</p>
                              </div>
                           </div>




                           <div class="site-card">
                              <div class="site-card-header">
                                 <h3 class="title">Password Change</h3>
                              </div>
                              <div class="site-card-body">
                                 <form method="post" id="myForm">


                                    <div class="progress-steps-form">
                                        <div class="row">
                                            <div class="col-xl-6 col-md-12">
                                                <div class="single-field">
                                                    <label for="exampleFormControlInput1" class="form-label">Current Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control pass1"  name="old_pass" placeholder="Enter current password"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-md-12">
                                                <label for="exampleFormControlInput1" class="form-label">Current Password</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" name="new_pass" placeholder="Enter new strong password"/>
                                                </div>
                                            </div>

                                            <div class="col-xl-6 col-md-12">
                                                <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" name="new_pass2" placeholder="Confirm new password"/>
                                                </div>
                                            </div>

                                            {% if current_user.twofa_status %}
                                                 <div class="col-xl-6 col-md-12">
                                                    <label for="exampleFormControlInput1" class="form-label">2FA Code</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" name="twofa_code" placeholder="Enter code from Authenticator app"/>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <input type="hidden" name="action" value="change_password">

                                            <div class="col-xl-6 col-md-12">
                                                <button type="submit" class="site-btn blue-btn" id="sbmt">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                              </div>
                           </div>







                          <div class="site-card">
                               <div class="site-card-header {% if current_user.twofa_status %}green-bg{% else %}primary-bg{% endif %}">
                                  <h3 class="title">2FA Security - {% if current_user.twofa_status %}ACTIVE{% else %}INACTIVE{% endif %}</h3>
                               </div>
                               <div class="site-card-body">
                                  <div class="progress-steps-form">
                                     <p>2FA enhances security by requiring two methods (extra code) to verify your identity when performing certain sensitive actions, protecting your account against phishing and password attacks</p>

                                     <br>

                                      {% if not current_user.twofa_status %}
                                     <p style="font-weight: bold">Scan the QR code with your Google Authenticator App or Use the secret code below</p>

                                     <br><br>
                                     <div class="referral-link">
                                         <div class="referral-link-form">
                                            <input type="text" value="{{ current_user.twofa_secret }}" id="key" readonly/>
                                            <button type="submit" onclick="copy('key')">
                                            <i class="anticon anticon-copy"></i>
                                            <span id="copy">Copy Secret</span>
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <p class="pt-2">
                                        Enter the PIN from your Authenticator App
                                     </p>
                                    <form id="enableForm">
                                        <div class="input-group">
                                           <input type="number" name="code" class="form-control">
                                        </div>
                                          <input type="hidden" name="action" value="enable_2fa">
                                        <div class="buttons mt-4">
                                           <button type="submit" class="site-btn blue-btn" value="enable" onclick="enableTwofa()">Enable 2FA<i class="anticon anticon-double-right"></i>
                                           </button>
                                        </div>
                                    </form>

                                    {% else %}

                                    <p class="pt-2">
                                        Enter the PIN from your Authenticator App to disable 2FA
                                     </p>
                                      <form id="disableForm">
                                        <div class="input-group">
                                           <input type="number" name="code" class="form-control">
                                        </div>
                                          <input type="hidden" name="action" value="disable_2fa">
                                        <div class="buttons mt-4">
                                           <button onclick="disableTwofa()" type="submit" class="site-btn blue-btn" value="" >Disable 2FA<i class="anticon anticon-double-right"></i>
                                           </button>
                                        </div>
                                      </form>
                                    {% endif %}
                                  </div>
                               </div>
                            </div>
                        </div>
                     </div>

                     <!--Page Content-->

                  </div>
               </div>
            </div>
         </div>



<style>
   .my-input{
        background: #003049;
        color: white;
        border-color: rgba(255, 255, 255, 0.2);
        padding: 15px;
    }
    .my-input:focus{
        background: #003049;
        color: white;
    }
</style>




    <div id="addModal" class="auto-popup-section">
            <div class="auto-popup-dialog animated fadeInUp">
                <button class="auto-popup-close auto-popup-close-now"><i icon-name="x"></i></button>
               <div class="auto-popup-dialog-inner dark-blue-bg">
                  <div class="row">
                     <div class="col-md-12 col-12">
                        <div class="auto-pop-content" style="overflow-y: auto;">
                           <h2>New Account</h2>
                            <div class="mb-5 summary-block" style="text-align: left;">

                                <form id="add-form">
                                    <div class="col-xl-6 col-md-12 progress-steps-form mb-0">
                                      <label for="method" class="form-label fw-bold" style="color: #003049">Select Method</label>
                                      <div class="input-group">
                                         <select id="method" name="method" class="nice-select site-nice-select" required="">
                                            <option selected value="usdt">USDT TRC20</option>
                                         </select>
                                      </div>
                                    </div>

                                    <div class="col-xl-6 col-md-12 ">
                                        <label for="" class="form-label fw-bold" style="color: #003049">Method Name:</label>
                                        <div class="input-group">
                                            <input type="text" name="name" class="form-control my-input" placeholder="eg. My Withdraw Account 1" id="add-name">
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-md-12 mt-3">
                                        <label for="" class="form-label fw-bold" style="color: #003049">USDT TRC20 Wallet:</label>
                                        <div class="input-group">
                                            <input type="text" name="wallet" class="form-control my-input" placeholder="Wallet Address" id="add-wallet">
                                            <input name="action" value="add" type="hidden">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <button class="site-btn btn-danger auto-popup-close-now"><i
                              class="anticon anticon-close"></i> Close</button>
                           <button class="site-btn grad-btn proceed"><i
                              class="anticon anticon-check"></i> Add Wallet</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>





{% endblock %}


{% block script %}

<script>

    function disableTwofa() {
        event.preventDefault()
        var formData = $('#disableForm').serialize()
        loadOn()
           $.ajax({
               url: "{{ url_for('user_settings_general') }}",
               data: formData,
               type: "POST",
               dataType: "json",
               success: function (data){
                   loadOff()
                   notify(data.status, data.message)
                   if(data.status === "success"){
                       $('#disableForm input').val('')
                   }
               },
               error: function (){
                   loadOff()
                   notify('error', 'An error occurred')
               },
               headers: {
                   'X-CSRFToken': getCSRFToken()
               },
           })
    }

    function enableTwofa() {
        event.preventDefault()
        var formData = $('#enableForm').serialize()
        loadOn()
           $.ajax({
               url: "{{ url_for('user_settings_general') }}",
               data: formData,
               type: "POST",
               dataType: "json",
               success: function (data){
                   loadOff()
                   notify(data.status, data.message)
                   if(data.status === "success"){
                       $('#enableForm input').val('')
                   }
               },
               error: function (){
                   loadOff()
                   notify('error', 'An error occurred')
               },
               headers: {
                   'X-CSRFToken': getCSRFToken()
               },
           })
    }

$(function(){

        {#open_modal('payModal')#}

       $('#sbmt').click(function (){
           event.preventDefault()
           var formData = $('#myForm').serialize()
           loadOn()
           $.ajax({
               url: "{{ url_for('user_settings_general') }}",
               data: formData,
               type: "POST",
               dataType: "json",
               success: function (data){
                   loadOff()
                   notify(data.status, data.message)
                   if(data.status === "success"){
                       $('#myForm input').val('')
                   }
               },
               error: function (){
                   loadOff()
                   notify('error', 'An error occurred')
               },
               headers: {
                   'X-CSRFToken': getCSRFToken()
               },
           })
       })



        $(window).on('beforeunload', function(){
            loadOn();
        });

    })
</script>



{% endblock %}


